body {
    font-family:Geneva, "Lucida Sans", Verdana, sans-serif;
    background-color: antiquewhite;
    margin:0 auto;
}

h1 {
    margin: 20px 400px;
    border-radius: 50%;
    text-align: center;
    background-color: rgba(218, 216, 151, 0.58);
    margin-bottom: 30px;
}
li {
    margin: 0 auto;
    display: inline-block;
}

li, a {
    font-size: 18px;
    color: rgb(209, 78, 78);
    text-decoration: none;
    padding:5px;
    text-align: center;
}

a:hover, li:hover {
    color: blueviolet;
}

.julienne, .gyro, .shrims{
    border: solid 1px rgb(128, 43, 0);
    display: block;
    margin: 20px auto;
}

.container {
    background-color: rgba(156, 152, 175, 0.58);
    width: 350px;
    height: auto;
    margin: 0 auto;
    display: block;
    text-align: center;
}
